body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
  }
  h1{
    color: #ff4081;
  }
 .container{
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #ff4081;
   
  }
  .container1{
    padding: 20px;
    margin-top: 200px;
    margin-left:130px;
  }
  
   #navbarNav{
    padding: 20px;
  }
  footer {
    background-color: #ff69b4; /* Change background color to pink */
    border-top: 1px solid #ddd;
    margin-top: 100px;
  
  }
  
  footer h5 {
    color: white; /* Change text color to white */
    font-weight: 700;
  }
  
  footer p {
    color: #fff; /* Change text color to white */
  }
  
  
 
  
 
  
 
   