<!DOCTYPE html>
<html>
<head>
    <title>Select Signup Type</title>
    <link rel="stylesheet" href = "signup.css">
</head>
<body>
    <div class="form-container">
        <h2>Welcome to Job Portals</h2>
            <div class="form-box">
                <h2>Select Signup Type</h2>
                <p>Are you a candidate or a company?</p>
                <a class="button" href="/candidate">Candidate Signup</a>
                <a  class="button"  href="/company">Company Signup</a>
            </div>
    </div>
</body>
</html>
